<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <section id="admin-dashboard" class="bootstrapCard">
      <div class="container">

        <div class="section-title" data-aos="fade-left">
          <h2>Dashboard administrator</h2>
        </div>

        <div class="row">
          <div class="col-sm-4 d-flex align-items-stretch card-margin">
            <div class="card">
              <h4 class="card-header text-center">
                <a href="#" routerLink="/admin/dashboard/journalists" class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-user-circle fa-stack-1x fa-inverse"></i>
                </a>
              </h4>
              <div class="card-body shadow">
                <h4 class="card-title">Gebruikers beheren</h4>
                <p class="card-text">
                    Dashboard voor het behereren van de gebruikers. Bekijk huidige gebruikers, verwijder, bewerk of voeg toe.
                </p>
                <button routerLink="/admin/gebruikers" class="btn btn-primary">Dashboard </button>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch card-margin">
            <div class="card">
              <h4 class="card-header text-center">
                <a href="#" routerLink="/admin/dashboard/articles" class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </a>
              </h4>
              <div class="card-body shadow">
                <h4 class="card-title">Ploegen beheren</h4>
                <p class="card-text">
                  Dashboard voor het behereren van de ploegen. Bekijk huidige ploegen, verwijder, bewerk of voeg toe.
                </p>
                <button routerLink="/admin/ploegen" class="btn btn-primary">Dashboard </button>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch card-margin">
            <div class="card">
              <h4 class="card-header text-center">
                <a href="#" routerLink="/admin/dashboard/journalists" class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-futbol fa-stack-1x fa-inverse"></i>
                </a>
              </h4>
              <div class="card-body shadow">
                <h4 class="card-title">Tafels beheren</h4>
                <p class="card-text">
                    Dashboard voor het behereren van de tafels. Bekijk huidige tafels, verwijder, bewerk of voeg toe.
                </p>
                <button routerLink="/admin/tafels" class="btn btn-primary">Dashboard </button>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
            <div class="col-sm-4 d-flex align-items-stretch card-margin">
              <div class="card">
                <h4 class="card-header text-center">
                  <a href="#" routerLink="/admin/dashboard/journalists" class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-window-maximize fa-stack-1x fa-inverse"></i>
                  </a>
                </h4>
                <div class="card-body shadow">
                  <h4 class="card-title">Competities beheren</h4>
                  <p class="card-text">
                    Dashboard voor het behereren van de competities. Bekijk huidige competities, verwijder, bewerk of voeg toe.
                  </p>
                  <button routerLink="/admin/competities" class="btn btn-primary">Dashboard </button>
                </div>
              </div>
            </div>
            <div class="col-sm-4 d-flex align-items-stretch card-margin">
              <div class="card">
                <h4 class="card-header text-center">
                  <a href="#" routerLink="/admin/dashboard/articles" class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-sitemap fa-stack-1x fa-inverse"></i>
                  </a>
                </h4>
                <div class="card-body shadow">
                  <h4 class="card-title">Tournooien beheren</h4>
                  <p class="card-text">
                    Dashboard voor het behereren van de tournooien. Bekijk huidige tournooien, verwijder, bewerk of voeg toe.
                  </p>
                  <button routerLink="/admin/tournooien" class="btn btn-primary">Dashboard </button>
                </div>
              </div>
            </div>
      
  
          </div>
      </div>
    </section>