<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <section id="kapitein-dashboard" class="bootstrapCard">
      <div class="container">

        <div class="section-title" data-aos="fade-left">
          <h2>Dashboard kapitein</h2>
        </div>

        <div class="row">
          <div class="col-sm-4 d-flex align-items-stretch card-margin">
            <div class="card">
              <h4 class="card-header text-center">
                <a href="#" routerLink="/admin/dashboard/journalists" class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </a>
              </h4>
              <div class="card-body shadow">
                <h4 class="card-title">Ploeg</h4>
                <p class="card-text">
                    Bekijk alles over jouw huidige ploeg.
                </p>
                <button routerLink="/gebruiker/ploeg" class="btn btn-primary">Ploeg </button>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch card-margin">
            <div class="card">
              <h4 class="card-header text-center">
                <a href="#" routerLink="/admin/dashboard/articles" class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-chart-bar fa-stack-1x fa-inverse"></i>
                </a>
              </h4>
              <div class="card-body shadow">
                <h4 class="card-title">Statistieken</h4>
                <p class="card-text">
                  Bekijk jouw huidige statistieken.
                </p>
                <button routerLink="/gebruiker/statistieken" class="btn btn-primary">Statistieken </button>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch card-margin">
            <div class="card">
              <h4 class="card-header text-center">
                <a href="#" routerLink="/admin/dashboard/journalists" class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-futbol fa-stack-1x fa-inverse"></i>
                </a>
              </h4>
              <div class="card-body shadow">
                <h4 class="card-title">Wedstrijden</h4>
                <p class="card-text">
                    Bekijk en beheer jouw wedstrijden.
                </p>
                <button routerLink="/gebruiker/wedstrijden" class="btn btn-primary">Wedstrijden </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 d-flex align-items-stretch card-margin">
            <div class="card">
              <h4 class="card-header text-center">
                <a href="#" routerLink="/admin/dashboard/journalists" class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-columns fa-stack-1x fa-inverse"></i>
                </a>
              </h4>
              <div class="card-body shadow">
                <h4 class="card-title">Ploeg beheren</h4>
                <p class="card-text">
                    Dashboard voor het behereren van jouw ploeg.
                </p>
                <button routerLink="/kapitein/ploeg-beheer" class="btn btn-primary">Ploeg </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>