<section id="betwistingen">
    <div class="container">

        <div class="section-title" data-aos="fade-left">
            <h2>Betwistingen oplossen</h2>
        </div>
        <div class="table-responsive">
            <div class="table-wrapper">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Team 1</th>
                            <th>Score</th>
                            <th>Team 2</th>
                            <th>Score</th>
                            <th>Competitie/Tournooi</th>
                            <th>Beoordeel</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let b of betwistingen">
                            <td>{{b.team1User1.naam}} <span *ngIf="b.team1User2 != null">& {{b.team1User2.naam}}</span></td>
                            <td>{{b.team1Score}}</td>
                            <td>{{b.team2User1.naam}} <span *ngIf="b.team2User2 != null">& {{b.team2User2.naam}}</span></td>
                            <td>{{b.team2Score}}</td>
                            <td>
                                <span *ngIf="b. matchContext != null && b.matchContext.tournooi != null">{{b.matchContext.tournooi.naam}} (T)</span>
                                <span *ngIf="b. matchContext != null && b.matchContext.competitie != null">{{b.matchContext.competitie.periode}} (C)</span>
                            </td>
                            <td>
                                <a (click)="open(content, b)" class="edit" data-toggle="modal"><i
                                        class="material-icons" data-toggle="tooltip" title="Edit">visibility</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<ng-template #content let-modal>
    <div class="modal-header pb-0">
        <h4 class="modal-title" id="modal-basic-title">Beoordeling</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #registerForm="ngForm" (ngSubmit)="beoordeel()">
            <p> {{betwisting.team1User1.naam}} <span *ngIf="betwisting.team1User2 != null">& {{betwisting.team1User2.naam}}</span>:
                <input class="form-control" required max="10" ngbAutofocus placeholder="Team 1 Score" type="number"
                    [(ngModel)]="betwisting.team1Score" name="team1score" />
            </p>
            <p> {{betwisting.team2User1.naam}} <span *ngIf="betwisting.team2User2 != null">& {{betwisting.team2User2.naam}}</span>:
                <input class="form-control" required max="10" ngbAutofocus placeholder="Team 2 Score" type="number"
                    [(ngModel)]="betwisting.team2Score" name="team2score" />
            </p>
            <p>
                <span class="error" *ngIf="errorBoodschap">{{errorBoodschap}}</span>
            </p>
            <div class="modal-footer pb-0">
                <button type="submit" class="btn btn-outline-success"
                    [disabled]="!registerForm.form.valid">Opslaan</button>
                <button type="button" class="btn btn-outline-secondary"
                    (click)="modal.dismiss('cancel click')">Annuleer</button>
            </div>
        </form>
    </div>
</ng-template>