<div class="row justify-content-center table-responsive">
    <button class="btn btn-outline-success btn-sm" (click)="open(content, null)"><span class="d-none d-md-inline">Nieuw Tournooi</span></button>
    <table class="table text-center" *ngIf="tournooien != null && tournooien.length > 0">
        <thead>
        <tr>
            <th scope="d-none d-md-block">Id</th>
            <th scope="">Naam</th>
            <th scope="">Bewerk</th>
            <th scope="">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tournooi of tournooien">
            <th>{{tournooi.tournooiID}}</th>
            <td>{{tournooi.naam}}</td>

            <td><button class="btn btn-outline-primary btn-sm" (click)="open(content, tournooi)"><span class="d-none d-md-inline">Edit</span></button></td>
            <td><button class="btn btn-outline-danger btn-sm" (click)="open(deleteModal, tournooi)"><span class="d-none d-md-inline">Delete</span></button></td>
        </tr>
        </tbody>
    </table>
</div>

<ng-template #content let-modal>
    <div class="modal-header pb-0">
      <h4 *ngIf="modalTournooi.tournooiID == null" class="modal-title" id="modal-basic-title">Maak Toornooi Aan</h4>
      <h4 *ngIf="modalTournooi.tournooiID != null" class="modal-title" id="modal-basic-title">Bewerk Tournooi</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form #registerForm="ngForm" (ngSubmit)="sendTournooi()">
            <p> Naam: 
                <input class="form-control" required ngbAutofocus placeholder="Tournooi naam" type="text" [(ngModel)]="modalTournooi.naam" name="naam" minlength="2"/>
            </p>
            <div class="modal-footer pb-0">
                <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">annuleer</button>
                <button type="submit" class="btn btn-outline-success" (click)="modal.close('Save click')" [disabled]="!registerForm.form.valid" >Save</button>
            </div>
        </form>
    </div>
</ng-template>
<ng-template #deleteModal let-modal>
    <div class="modal-header pb-0">
      <h4 class="modal-title" id="modal-basic-title">Verwijder Tournooi</h4>
    </div>
    <div class="modal-body">
        <p>Bent u zeker dat u {{modalTournooi.naam}}</p>
        <button class="btn btn-outline-primary btn-sm" (click)="deleteTournooi(modalTournooi.tournooiID)"><span class="d-none d-md-inline">Verwijder</span></button>
    </div>
</ng-template>