<section id="">
    <div class="container">
        <div class="section-title" data-aos="fade-left">
            <h2>Geschiedenis Wedstrijden</h2>
        </div>
        <div>

        </div>
        <p>aantal gespeelde spellen: {{aantalSpellen}}, aantal gewonnen: {{aantalWins}}, aantal verloren: {{aantalVerloren}}, winpercentage: {{winpercentage}}% | aantal gespeelde tournooien: {{aantalTournooien}}</p>
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Wedstrijden</h4>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Score</th>
                <th>Tegenstander</th>
                <th>Tafelsituering</th>
                <th>Tournooi</th>
                <th>Info</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let wedstrijd of wedstrijden" class="">
                <td>
                    <div *ngIf="wedstrijd.team1User1ID == userID || wedstrijd.team1User2ID == userID; else elseDiv">
                        {{wedstrijd.team1Score}} - {{wedstrijd.team2Score}}
                    </div>
                    <ng-template #elseDiv>
                        {{wedstrijd.team2Score}} - {{wedstrijd.team1Score}}
                    </ng-template>
                </td>
                <td>
                    <div *ngIf="wedstrijd.team1User1ID == userID; else elseDiv2">
                        {{wedstrijd.team2User1.ploeg.naam}}
                    </div>
                    <ng-template #elseDiv2>
                        {{wedstrijd.team1User1.ploeg.naam}}
                    </ng-template>  
                </td>
                <td>{{wedstrijd.tafel.bedrijfsnaam}}</td>
                <td>
                    <div *ngIf="wedstrijd.matchContext.tournooi; else elseDiv3">
                        {{wedstrijd.matchContext.tournooi.naam}}
                    </div>
                    <ng-template #elseDiv3>
                        /
                    </ng-template>  
                </td>
                <td>
                    <a class="info" (click)="open(content, wedstrijd.matchContextID)"><i class="material-icons" data-toggle="tooltip" title="Info">&#xE88E;</i></a>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- modals voor CRUD -->
<ng-template #content let-modal>
    <div class="modal-header pb-0">
      <h4 class="modal-title" id="modal-basic-title">Info Wedstrijd</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <h2>Score: 
            <span *ngIf="wedstrijd.team1User1ID == userID || wedstrijd.team1User2ID == userID; else elseDiv">
                <td>{{wedstrijd.team1Score}} - {{wedstrijd.team2Score}}</td>
            </span>
            <ng-template #elseDiv>
                <td>{{wedstrijd.team2Score}} - {{wedstrijd.team1Score}}</td>
            </ng-template>
        </h2>
        <div>
            <span *ngIf="wedstrijd.team1User1ID == userID || wedstrijd.team1User2ID == userID; else elseDiv">
                <div>
                    <p>Team: {{wedstrijd.team1User1.ploeg.naam}}</p>
                    <ul>
                        <li>{{wedstrijd.team1User1.naam}}</li>
                        <li *ngIf="wedstrijd.team1User1">{{wedstrijd.team1User2.naam}}</li>
                    </ul>
                </div>
                <div>
                    <p>Team: {{wedstrijd.team2User1.ploeg.naam}}</p>
                    <ul>
                        <li>{{wedstrijd.team2User1.naam}}</li>
                        <li *ngIf="wedstrijd.team2User2">{{wedstrijd.team2User2.naam}}</li>
                    </ul>
                </div>            
            </span>
            <ng-template #elseDiv>
                <div>
                    <p>Team: {{wedstrijd.team2User1.ploeg.naam}}</p>
                    <ul>
                        <li>{{wedstrijd.team2User1.naam}}</li>
                        <li *ngIf="wedstrijd.team2User2">{{wedstrijd.team2User2.naam}}</li>
                    </ul>
                </div>
                <div>
                    <p>Team: {{wedstrijd.team1User1.ploeg.naam}}</p>
                    <ul>
                        <li>{{wedstrijd.team1User1.naam}}</li>
                        <li *ngIf="wedstrijd.team1User1">{{wedstrijd.team1User2.naam}}</li>
                    </ul>
                </div>
            </ng-template>

        </div>
        <div *ngIf="wedstrijd.matchContext.tournooi">
            <hr>
            <p>Tournooi: {{wedstrijd.matchContext.tournooi.naam}}</p>
            <p>Niveau: {{wedstrijd.matchContext.tournooiNiveau}}</p>
            <p>Rangschikking: {{wedstrijd.matchContext.tournooiRangschikking}}</p>
        </div>
        <hr>
        <p>Tafel: {{wedstrijd.tafel.naam}}</p>
        <p>bedrijf tafel: {{wedstrijd.tafel.bedrijfsnaam}}</p>
        <p>adres: {{wedstrijd.tafel.adres}}</p>
    </div>
</ng-template>