<div class="container">
    <div class="row justify-content-center my-3">
        <h1>Lijst Tafels</h1>
    </div>
    <div class="row pb-1 justify-content-between">
        <div class="col-auto">
            <button type="button" class="btn btn-success btn-sm mb-1" (click)="open(content)">Nieuwe Tafel</button>
        </div>
    </div>

    <div class="row justify-content-center table-responsive">
        <table class="table text-center">
            <thead>
            <tr>
                <th scope="d-none d-md-block">Naam</th>
                <th scope="">Bedrijfsnaam</th>
                <th scope="">Adres</th>
                <th scope="">Contact naam</th>
                <th scope="">Contact telefoon</th>
                <th scope="">Contact e-mail</th>
    
                <th scope="">Bewerk</th>
                <th scope="">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tafel of tafels">
                <th>{{tafel.naam}}</th>
                <td>{{tafel.bedrijfsnaam}}</td>
                <td>{{tafel.adres}}</td>
                <td>{{tafel.contactNaam}}</td>
                <td>{{tafel.contactTelefoon}}</td>
                <td>{{tafel.contactEmail}}</td>
    
                <td><button class="btn btn-outline-primary btn-sm" (click)="open(content, tafel)"><span class="d-none d-md-inline">Edit</span></button></td>
                <td><button class="btn btn-outline-danger btn-sm" (click)="open(deleteModal, tafel)"><span class="d-none d-md-inline">Delete</span></button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header pb-0">
      <h4 *ngIf="tafel.tafelID" class="modal-title" id="modal-basic-title">Nieuwe tafel</h4>
      <h4 *ngIf="tafel.tafelID != 0" class="modal-title" id="modal-basic-title">Bewerk tafel</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form #registerForm="ngForm" (ngSubmit)="sendTafel()">
            <p> Naam: 
                <input class="form-control" required ngbAutofocus placeholder="Naam" type="text" [(ngModel)]="tafel.naam" name="naam" minlength="2"/>
            </p>
            <p> Bedrijfsnaam: 
                <input class="form-control" required placeholder="Bedrijfsnaam" type="text" [(ngModel)]="tafel.bedrijfsnaam" name="bedrijfsnaam"/>
            </p>
            <p> Adres: 
                <input class="form-control" required placeholder="Adres" type="text" [(ngModel)]="tafel.adres" name="adres"/>
            </p>
            <p> Verantwoordelijke naam:
                <input class="form-control" required placeholder="Verantwoordelijke naam" type="text" [(ngModel)]="tafel.contactNaam" name="contactNaam"/>
            </p>
            <p> Verantwoordelijke telefoon:
                <input class="form-control" required placeholder="Verantwoordelijke telefoon" type="text" [(ngModel)]="tafel.contactTelefoon" name="contactTelefoon"/>
            </p>
            <p> Verantwoordelijke e-mail:
                <input class="form-control" required placeholder="Verantwoordelijke e-mail" type="text" [(ngModel)]="tafel.contactEmail" name="contactEmail"/>
            </p>
            <div>
                <p> Foto: 
                    <input class="form-control" placeholder="link foto (nog te veranderen)" type="password" [(ngModel)]="tafel.foto" name="foto"/>
                </p>
            </div>
            <div class="modal-footer pb-0">
                <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">annuleer</button>
                <button type="submit" class="btn btn-outline-success" (click)="modal.close('Save click')" [disabled]="!registerForm.form.valid" >Save</button>
              </div>
        </form>
    </div>
</ng-template>

<ng-template #deleteModal let-modal>
    <div class="modal-header pb-0">
        <h4 class="modal-title" id="modal-title">Delete Tafel</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>ben je zeker dat je <span class="text-primary">{{tafel.naam}}</span> wilt verwijderen?</strong></p>
        <p class="text-danger">Dit kan niet ongedaan worden.</p>
      </div>
      <div class="modal-footer pb-1">
        <button type="button" ngbAutofocus class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">annuleer</button>
        <form #deleteForm="ngForm" (ngSubmit)="deleteTafel(tafel.tafelID)">
            <button type="submit" class="btn btn-danger" (click)="modal.close('Ok click')">Delete</button>
        </form>
      </div>
</ng-template> 